<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944579909497-u59864hapks57iqgfcqpg60m6dt3qpkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944579909497-u59864hapks57iqgfcqpg60m6dt3qpkn</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQAnmkgD1xbsjN1ychH5yZJwKn6Q7WxY</string>
	<key>GCM_SENDER_ID</key>
	<string>944579909497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erkebulan.cocacola</string>
	<key>PROJECT_ID</key>
	<string>coca-8cf9d</string>
	<key>STORAGE_BUCKET</key>
	<string>coca-8cf9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944579909497:ios:df9df10af14f205a6241a8</string>
	<key>DATABASE_URL</key>
	<string>https://coca-8cf9d.firebaseio.com</string>
</dict>
</plist>