<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Full.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>172EFCD947B11210B764A3937094926FE12B3A9A</string>
				<key>dateExpires</key>
				<string>2/4/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P7R457K428.com.scs.cocademo</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>P7R457K428</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Coca Cola QR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7846a1e6-cd33-4876-a21b-56d5766aeee6</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P7R457K428</string>
				<key>name</key>
				<string>Monakhov Vyacheslav</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
